<?xml version="1.0" encoding="UTF-8"?>
<MetaDataObject xmlns="http://v8.1c.ru/8.3/MDClasses" xmlns:app="http://v8.1c.ru/8.2/managed-application/core" xmlns:cfg="http://v8.1c.ru/8.1/data/enterprise/current-config" xmlns:cmi="http://v8.1c.ru/8.2/managed-application/cmi" xmlns:ent="http://v8.1c.ru/8.1/data/enterprise" xmlns:lf="http://v8.1c.ru/8.2/managed-application/logform" xmlns:style="http://v8.1c.ru/8.1/data/ui/style" xmlns:sys="http://v8.1c.ru/8.1/data/ui/fonts/system" xmlns:v8="http://v8.1c.ru/8.1/data/core" xmlns:v8ui="http://v8.1c.ru/8.1/data/ui" xmlns:web="http://v8.1c.ru/8.1/data/ui/colors/web" xmlns:win="http://v8.1c.ru/8.1/data/ui/colors/windows" xmlns:xen="http://v8.1c.ru/8.3/xcf/enums" xmlns:xpr="http://v8.1c.ru/8.3/xcf/predef" xmlns:xr="http://v8.1c.ru/8.3/xcf/readable" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5">
	<Catalog uuid="f7a9e26c-c7c1-411e-9c1c-29678013217d">
		<InternalInfo>
			<xr:GeneratedType name="CatalogObject.Events" category="Object">
				<xr:TypeId>89cc0319-f3ee-4f8e-8c73-ae29db2a62d6</xr:TypeId>
				<xr:ValueId>b9514909-9c6c-4729-9511-85de94350235</xr:ValueId>
			</xr:GeneratedType>
			<xr:GeneratedType name="CatalogRef.Events" category="Ref">
				<xr:TypeId>97dd1182-d4e4-4cc6-a7b4-0639bf132d5f</xr:TypeId>
				<xr:ValueId>89071ad0-15b6-455a-a17f-8241d26a3813</xr:ValueId>
			</xr:GeneratedType>
			<xr:GeneratedType name="CatalogSelection.Events" category="Selection">
				<xr:TypeId>7ea3af2b-4dbb-41bc-8db7-c64b91e77982</xr:TypeId>
				<xr:ValueId>483ca93a-37be-4b3c-889e-510ffb90fa64</xr:ValueId>
			</xr:GeneratedType>
			<xr:GeneratedType name="CatalogList.Events" category="List">
				<xr:TypeId>fa17ecd7-fcfe-4678-a5fb-550335972e51</xr:TypeId>
				<xr:ValueId>17912185-a36b-4ae0-b6d9-cfaf86703398</xr:ValueId>
			</xr:GeneratedType>
			<xr:GeneratedType name="CatalogManager.Events" category="Manager">
				<xr:TypeId>5935f706-520c-45b3-8dab-f54423d13495</xr:TypeId>
				<xr:ValueId>660927b2-bc6d-4e69-9825-36200898d720</xr:ValueId>
			</xr:GeneratedType>
		</InternalInfo>
		<Properties>
			<Name>Events</Name>
			<Synonym>
				<v8:item>
					<v8:lang>en</v8:lang>
					<v8:content>Events</v8:content>
				</v8:item>
				<v8:item>
					<v8:lang>ru</v8:lang>
					<v8:content>События</v8:content>
				</v8:item>
			</Synonym>
			<Comment/>
			<Hierarchical>false</Hierarchical>
			<HierarchyType>HierarchyFoldersAndItems</HierarchyType>
			<LimitLevelCount>false</LimitLevelCount>
			<LevelCount>2</LevelCount>
			<FoldersOnTop>true</FoldersOnTop>
			<UseStandardCommands>true</UseStandardCommands>
			<Owners/>
			<SubordinationUse>ToItems</SubordinationUse>
			<CodeLength>9</CodeLength>
			<DescriptionLength>25</DescriptionLength>
			<CodeType>String</CodeType>
			<CodeAllowedLength>Variable</CodeAllowedLength>
			<CodeSeries>WholeCatalog</CodeSeries>
			<CheckUnique>true</CheckUnique>
			<Autonumbering>true</Autonumbering>
			<DefaultPresentation>AsDescription</DefaultPresentation>
			<Characteristics/>
			<PredefinedDataUpdate>Auto</PredefinedDataUpdate>
			<EditType>InDialog</EditType>
			<QuickChoice>false</QuickChoice>
			<ChoiceMode>BothWays</ChoiceMode>
			<InputByString>
				<xr:Field>Catalog.Events.StandardAttribute.Description</xr:Field>
				<xr:Field>Catalog.Events.StandardAttribute.Code</xr:Field>
			</InputByString>
			<SearchStringModeOnInputByString>Begin</SearchStringModeOnInputByString>
			<FullTextSearchOnInputByString>DontUse</FullTextSearchOnInputByString>
			<ChoiceDataGetModeOnInputByString>Directly</ChoiceDataGetModeOnInputByString>
			<DefaultObjectForm/>
			<DefaultFolderForm/>
			<DefaultListForm/>
			<DefaultChoiceForm/>
			<DefaultFolderChoiceForm/>
			<AuxiliaryObjectForm/>
			<AuxiliaryFolderForm/>
			<AuxiliaryListForm/>
			<AuxiliaryChoiceForm/>
			<AuxiliaryFolderChoiceForm/>
			<IncludeHelpInContents>false</IncludeHelpInContents>
			<BasedOn/>
			<DataLockFields/>
			<DataLockControlMode>Managed</DataLockControlMode>
			<FullTextSearch>Use</FullTextSearch>
			<ObjectPresentation/>
			<ExtendedObjectPresentation/>
			<ListPresentation/>
			<ExtendedListPresentation/>
			<Explanation/>
			<CreateOnInput>Use</CreateOnInput>
			<ChoiceHistoryOnInput>Auto</ChoiceHistoryOnInput>
			<DataHistory>DontUse</DataHistory>
		</Properties>
		<ChildObjects/>
	</Catalog>
</MetaDataObject>